@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    z-index: 1000;
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: #c8d4c4;
}

.navbar-scrolled {
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); */
    background-color: #dee8da;

    /* You can adjust the values for the desired effect */
}

.navbar-left {
    display: flex;
    align-items: center;
    width: 350px;
    padding-left: 35px;
}

.logo {
    width: 35px;
    height: auto;
    margin-right: 10px;
    transform: rotate(-30deg) scale(-1, 1);
}

.site-name {
    font-weight: lighter;
    text-decoration: none;
    display: flex;
    font-size: 45px;
    margin-bottom: 15px;
    color: #85bd42;
    font-family: 'Darumadrop One', cursive;
    cursor: default;
}

.logo:hover {
    opacity: 0;
    transition: 2.5s ease-in-out;
}

.navbar-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: #85bd42;
}

.nav-links a.active {
    color: #85bd42;
}

.navbar-right {
    width: 350px;
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.burger-menu {
    display: none;
}

.burger-icon {
    width: 30px;
    height: auto;
    color: #85bd42;
}

.button {
    background-color: #85bd42;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-size: 16.5px;
    text-align: center;
    transition: all .5s;
    padding: 8px 30px;
}

.button:hover {
    box-shadow: #a2c851 0 1px 30px;
    transition-duration: .1s;
}

.burger-dropdown {
    position: fixed;
    top: 0;
    right: 100px;
    /* Initially hidden outside the viewport */
    width: 250px;
    text-align: center;
    height: 100%;
    background-color: #dee8da;
    /* Background color of the menu */
    padding-top: 60px;
    /* Adjust as needed */
    z-index: 1000;
    /* Ensure it's on top of other content */
    transition: right 0.3s ease;
    /* Transition for sliding animation */
}

.burger-nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger-nav-links li {
    margin-bottom: 20px;
}

.burger-nav-links a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    color: black;
}

.burger-nav-links li a:hover {
    color: #85bd42;
}

.login-link:hover {
    color: #85bd42;
    cursor: pointer;
}

@media (max-width: 1290px) {
    .site-name {
        font-size: 40px;
        cursor: pointer;
    }

    .logo {
        width: 35px;
    }

    .navbar-middle {
        display: none;
    }

    .button {
        display: none;
    }

    .navbar-right {
        width: 50px;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .site-name {
        font-size: 30px;
        cursor: pointer;
        margin-top: 5px;
    }

    .navbar {
        padding-top: 5px;
    }

    .navbar-left {
        padding-left: 15px;
    }

    .navbar-right {
        padding-right: 15px;
    }

    .logo {
        width: 25px;
    }

    .burger-menu>svg {
        width: 25px;
    }


}