@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: #c8d4c4;
}

.content {
    min-height: calc(100vh - 180px);
    padding-top: 87px;
    margin: 0 10%;
}

@media (max-width: 800px) {
    .content {
        padding-top: 70px;
        margin: 0 7%;
    }
}