.explore-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.explore-wrapper>h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.explore-card-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 35px;
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: 25px;
    padding: 5px 0;
}

/* horizontal grid scrollbar */
.explore-card-grid::-webkit-scrollbar {
    height: 6px;
}

.explore-card-grid::-webkit-scrollbar-thumb {
    background-color: #dee8da;
    border-radius: 15px;
}

.search-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 35px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.not-found {
    text-align: center;
    padding: 120px 0px;
    font-size: 16.5px
}

.not-found>img {
    width: 120px;
    height: 120px;
}

@media (max-width: 1290px) {
    .explore-wrapper {
        width: 100%;
    }
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .search-card-grid {
        width: 90%;
    }
}